body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  margin: 50px;
  padding: 50px;
  font-size: 2em;
}

div {
  text-align: center;
}

@keyframes rotation {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}




